.nav-btn {
  font-size: 15px;
  padding: 6px 24px;
  border-radius: 6px;
  text-wrap: nowrap;
}

.btn__outline {
  font-weight: 400;
  background-color: transparent;
  outline: 2px solid black;
}

.btn__primary {
  font-weight: 600;
  background-color: #5344ed;
  outline: 2px solid #5344ed;
}